.CTATChart {
  width: 400px;
  height: 300px;
}
.CTATChart .CTAT--cursor {
  fill: black;
  opacity: 0;
  pointer-events: none;
}
.CTATChart path.CTATChart--point {
  fill: black;
  stroke-width: 2;
  /*stroke: transparent;*/
}
.CTATChart path.CTATChart--point.CTAT--hint {
  fill: yellow;
  /*stroke: rgba(255,50,50,0.6);*/
  stroke: yellow;
  fill-opacity: 0.7;
}
.CTATChart path.CTATChart--point.CTAT--incorrect {
  fill: red;
  /*stroke: rgba(255,50,50,0.6);*/
  fill-opacity: 0.7;
}
.CTATChart path.CTATChart--point.CTAT--correct {
  /*stroke: rgba(0,240,0,0.7);*/
  stroke: limegreen;
  /*fill: limegreen;*/
  fill-opacity: 0.7;
}

.CTATChart path.CTATChart--out-of-bounds {
  fill: lightgrey;
  stroke: black;
  opacity: 0.8;
  stroke-width: 1;
}
.CTATChart path.CTATChart--out-of-bounds.CTAT--hint {
  stroke: yellow;
  fill: yellow;
}
.CTATChart path.CTATChart--out-of-bounds.CTAT--incorrect {
  stroke: red;
  stroke-dasharray: 5 5;
  stroke-width: 2;
}
.CTATChart path.CTATChart--out-of-bounds.CTAT--correct {
  stroke: limegreen;
}
/*.CTATChart--grid .tick {
    opacity: 0.1;
}*/

.CTATChart g.tick text {
  user-select: none;
}

.CTATChart line.CTATChart--spline {
  stroke-width: 2;
  stroke: black;
}
.CTATChart line.CTATChart--spline.CTAT--hint {
  stroke: yellow;
}
.CTATChart line.CTATChart--spline.CTAT--incorrect {
  stroke: red;
  stroke-dasharray: 5 5;
}
.CTATChart line.CTATChart--spline.CTAT--correct {
  stroke: limegreen;
}

/* Convenience style for CTATGrapher replacement */
.CTATGrapher {
  width: 510px;
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}
.CTATGrapher-title {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
}
.CTATGrapher-top {
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.CTATGrapher-top > div {
  margin-left: 1em;
}
.CTATGrapher-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1em;
}
.CTATGrapher-x {
  display: flex;
  flex-direction: row;
  grid-column-start: 2;
  justify-content: space-between;
}
